# Smart Contract Address (Sepolia or Localhost)
VITE_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

# Frontend API
VITE_API_URL=http://localhost:5000/api

# Pinata IPFS
VITE_PINATA_JWT=
VITE_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/

# Backend
PORT=5000
CLIENT_ORIGIN=http://localhost:5173
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/medchain
